<P>Dose work</P>
<!--
<mat-card class="example-card">
    <mat-card-header>
       <mat-card-title>Sign in</mat-card-title>      
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>Sign in with google</mat-card-subtitle>
        <mat-card-subtitle>Sign in with facebook</mat-card-subtitle>
        <form class="example-form">
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Enter your Email</mat-label>
                  <input matInput placeholder="pat@example.com" required>
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </p>
              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
          </form>
          
    </mat-card-content>
    <mat-card-actions>
        <section>
            <div class="example-button-row">
              <button mat-raised-button>Register</button>
              <button mat-raised-button color="primary">Sign In</button>
            </div>
          </section>
        
    </mat-card-actions>
  </mat-card>
  
  -->